html, body {
   width: 100%;
   height: 100%;
   background-color: #333;
   padding: 0;
   margin: 0;
   overflow: hidden;
}


h1 {
   text-align: center;
   color: #fff;
   font-size: 2rem;
   font-family: "Times New Roman", Times, serif;
   font-weight: 500;
   margin-top: 5vh;
}


button {
   color: #fff;
   font-size: calc(1.3rem + 0.1vh + 0.1vw);
   font-family: "Times New Roman", Times, serif;
   background-color: transparent;
   border: 2px solid #fff;
   padding: 0.2rem 1rem;
   position: absolute;
   top: 35%;
   left: 50%;
   transform: translate(-50%, -50%);
   box-shadow: 0 0 10px 4px #000, 0 0 5px 2px #000 inset;
   cursor: pointer;
   outline: none;
   user-select: none;
}
button:hover {
   color: #333; 
   background-color: #fff;
   box-shadow: none;
}
button:active {
   color: #555;
   background-color: rgba(255, 255, 255, 0.8);
}
button::after {
   content: "Click the button for free confetti!";
   font-size: 1.1rem;
   white-space: nowrap;
   color: #ddd;
   position: absolute;
   left: 50%;
   bottom: -0.6rem;
   transform: translate(-50%, 100%);
}


ul {
   background-color: #111;
   padding: 0.5rem;
   border-radius: 3px;
   position: absolute;
   top: 75%;
   left: 50%;
   transform: translate(-50%, -50%);
   list-style-type: none;
}
ul::before {
   white-space: nowrap;
   content: "Serial Keys";
   color: #fff;
   font-size: 1.1rem;
   position: absolute;
   top: -5px;
   left: 50%;
   transform: translate(-50%, -100%);
}
li {
   color: #fff;
   font-size: calc(1.1rem);
   font-family: "Times New Roman", Times, serif;
   line-height: 1.3rem;
}


.confetti {
   width: 13px;
   height: 5px;
   position: absolute;
   pointer-events: none;
}